@charset "utf-8";

/* common */
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  box-sizing: border-box;
  font-size: 10px;
  --my-color: hsl(200, 70%,40%);
}
img {
  vertical-align: bottom;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: normal;
}
a {
  text-decoration: none;
  color:var(--my-color);
}
a:hover {
  color: hsl(200, 70%,55%);
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
article + article {
  height: calc(100vh - 75px);
}

/* header */

header {
  width: 100%;
  height: 3rem;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  border-bottom:1.5px solid var(--my-color);
}
header h2 {
  font-size: 1.5rem;
  text-align: center;
  margin-left: 1rem;
}
header ul {
  width: 20rem;
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}
header li {
  font-size: 1.2rem;
}

/* main */

main {
  padding-top: 25px;
}
main h1, main h2 {
  font-weight: normal;
  font-size: 2.5rem;
  text-align: center;
}
main p {
  font-size: 18px;
  text-align: center;
}
main article {
  padding-top: 100px;
  margin-top: -50px;
  height: calc(100vh - 50px);
  background: white;
  text-align: center;
}

/* #top */

.top h1, .top p {
  text-align: left;
  color: white;
}
.top h1 {
  margin-top: 25vh;
} 
.toptext {
  width: fit-content;
  height: fit-content;
  /* margin: auto 0; */
  background: var(--my-color);
}

/* #about */

.aboutcontainer {
  height: 100%;
  display:flex;
  justify-content: space-around;
  align-items: start;
}
.aboutimg {
  width: 400px;
  height: 400px;
  background: skyblue;
}
.abouttext h3 {
  font-size: 3rem;
}

/* #works */

.works {
  height: 1000px;
}
.workselement {
  width: 430px;
  height: 230px;
  margin: 0;  
  background: skyblue;
}
.workscaption {
  font-weight: none;
  text-decoration: none;
}
.workscontainer{
  display: grid;
  justify-items: center;
  grid-template: 
  "a b";
}
.work1 {
  grid: a;
}
.work2 {
  grid: b
}

/* #contact */

/* footer */